{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <form id="searchForm" class="w-50 h-80">
        <input 
            type="text" 
            id="searchInput"
            class="form-control" 
            placeholder="Search movies..."
        >
    </form>

    <script>
    document.getElementById('searchForm').addEventListener('submit', function(e) {
        e.preventDefault();

        const query = document.getElementById('searchInput').value;

        if (query) {
            window.location.href = `/search/${query}/`;
        }
    });
    </script>

    <h3 class="text-white mb-3">🔥 Best OAT</h3>
    <div class="row">
        {% for movie in best %}
        <div class="col-md-3">
            <div class="card bg-dark text-white mb-3">
                <img src="{{ movie.primaryImage.url }}" class="card-img-top">
                <div class="card-body">
                    <h6>{{ movie.primaryTitle }}</h6>
                    <div class="d-flex justify-content-between">
                        <a href="https://www.imdb.com/title/{{ movie.id }}/" 
                        target="_blank"
                        class="btn btn-outline-light btn-sm">
                            Details
                        </a>

                        <button 
                            class="btn btn-outline-warning btn-sm add-to-watchlist"
                            data-movie-id="{{ movie.id }}"
                        >
                            {% if movie.id in watchlist_ids %}
                                ✅
                            {% else %}
                                🔖
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h3 class="text-white mb-3">🎬 Popular</h3>
    <div class="row">
        {% for movie in popular %}
        <div class="col-md-3">
            <div class="card bg-dark text-white mb-3">
                <img src="{{ movie.primaryImage.url }}">
                <div class="card-body">
                    <h6>{{ movie.primaryTitle }}</h6>
                    <div class="d-flex justify-content-between">
                        <a href="https://www.imdb.com/title/{{ movie.id }}/" 
                        target="_blank"
                        class="btn btn-outline-light btn-sm">
                            Details
                        </a>

                        <button 
                            class="btn btn-outline-warning btn-sm add-to-watchlist"
                            data-movie-id="{{ movie.id }}"
                        >
                            {% if movie.id in watchlist_ids %}
                                ✅
                            {% else %}
                                🔖
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h3 class="text-white mb-3">🎲 Random 2000s</h3>
    <div class="row">
        {% for movie in randoms %}
        <div class="col-md-3">
            <div class="card bg-dark text-white mb-3">
                <img src="{{ movie.primaryImage.url }}">
                <div class="card-body">
                    <h6>{{ movie.primaryTitle }}</h6>
                    <div class="d-flex justify-content-between">
                        <a href="https://www.imdb.com/title/{{ movie.id }}/" 
                        target="_blank"
                        class="btn btn-outline-light btn-sm">
                            Details
                        </a>

                        <button 
                            class="btn btn-outline-warning btn-sm add-to-watchlist"
                            data-movie-id="{{ movie.id }}"
                        >
                            {% if movie.id in watchlist_ids %}
                                ✅
                            {% else %}
                                🔖
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

<script>
document.addEventListener("DOMContentLoaded", function () {

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            document.cookie.split(';').forEach(cookie => {
                const [key, value] = cookie.trim().split('=');
                if (key === name) cookieValue = decodeURIComponent(value);
            });
        }
        return cookieValue;
    }

    document.querySelectorAll('.add-to-watchlist').forEach(button => {
        button.addEventListener('click', function () {

            const movieId = this.dataset.movieId;

            fetch("{% url 'add_to_watchlist' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                body: new URLSearchParams({
                    movie_id: movieId
                })
            })
            .then(res => res.json())
            .then(data => {

                if (data.status === "added") {
                    this.innerText = "✅";
                } 
                else if (data.status === "removed") {
                    this.innerText = "🔖";
                } 
                else {
                    alert("Error");
                }

            });
        });
    });

});
</script>
{% endblock %}